<script type="text/javascript">
    $(function () {
        SysCEF.UploaderUrl = '@Url.Content("~/Scripts/uploader.swf")';
        SysCEF.CancelImageUrl = '@Url.Content("~/Content/images/cancel.png")';
        SysCEF.CaminhoAcaoImportar = '@Url.Action("Importar", "Laudo")';
        SysCEF.ConfigurarUpload();

        $("#mensagemUpload").delay(1000).fadeOut("slow");
    });
 </script>


<div id="mensagemUpload" class="mensagem" style="display: none;">
    OS importada com sucesso!
</div>

<br />

<div id="fileuploader" class="uploader"></div>

<h4>Vistorias a serem agendadas:</h4>

<div id="listaOSs">
    @Html.Action("ListaImportada", "Laudo")
</div>


