<script type="text/javascript">
    $(function () {
        SysCEF.UploaderUrl = '@Url.Content("~/Scripts/uploader.swf")';
        SysCEF.CancelImageUrl = '@Url.Content("~/Content/images/cancel.png")';
        SysCEF.CaminhoAcaoImportar = '@Url.Action("Importar", "Laudo")';
        SysCEF.ConfigurarUpload();
    });
 </script>

<div id="fileuploader" style="width: 400px; left: 0px; margin-top: 20px;"></div>

<h4>Vistorias a serem agendadas:</h4>

<div id="listaOSs">
    @Html.Action("Lista", "Laudo")
</div>

