@{
    ViewBag.Title = "Sistema de Avaliação de Imóveis - Home";
}

@Html.Partial("Menu")


<div id="exportarBackground" class="background" style="display: none;"></div>
<div id="exportarBody" class="popupMessageBody" style="display: none;">
    
    <header>
        Exportação em andamento
    </header>
    
    <div style="margin: 10px; padding-top: 10px; min-height: 50px; text-align: center;"> 
        
        <p id="mensagemExportacao" style="font-weight: bold;">Exportando por favor aguarde ...</p>
        <p id="mensagemDownload" style="font-weight: bold; display: none;">Aguarde, o Download irá iniciar em alguns segundos...</p>
        
        <br/>
        
        <div id="loadingExportacao" style="text-align: center;">
            <img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="Por favor aguarde...  "/>
        </div>
        
        <br/>
        
        @*<input type="button" id="downloadBtn" src="" />
        <a id="linkDownload" style="display: none; color: blue;" href="">Download</a>*@
        
    </div>
</div>