<script type="text/javascript">
    $(function () {
        SysCEF.UploaderUrl = '@Url.Content("~/Scripts/uploader.swf")';
        SysCEF.CancelImageUrl = '@Url.Content("~/Content/images/cancel.png")';
        SysCEF.CaminhoAcaoImportar = '@Url.Action("Importar", "Configuracoes", new RouteValueDictionary { { "tipo", (int) SysCEF.Model.EnumConfiguracoes.Fonte } })';
        SysCEF.ConfigurarUpload();

        $("#mensagemUpload").delay(1000).fadeOut("slow");
    });
 </script>


<div id="mensagemUpload" class="mensagem" style="display: none;">
    Fontes importadas com sucesso!
</div>

<br />

<div id="fontesFileuploader" style="width: 400px; left: 0px; margin-top: 20px;"></div>

<h4>Fontes cadastradas:</h4>

<div id="listaFontes">
    @Html.Action("Lista", "Configuracoes", new RouteValueDictionary { { "tipo", (int) SysCEF.Model.EnumConfiguracoes.Fonte } })
</div>


